.Cell {
  cursor: pointer;
  touch-action: none;
  background-color: transparent;
  border: 1px solid #61dafb;
  width: 9px;
  height: 9px;
  margin: 1px;
}

.Cell[data-live=true] {
  background-color: #61dafb;
}

@media all and (min-width: 824px) {
  .Cell {
    width: 24px;
    height: 24px;
    margin: 4px;
  }
}
