.Grid {
  user-select: none;
  touch-action: none;
  border: 1px dashed #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
}

.Grid-row {
  touch-action: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
