.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media all and (orientation:portrait) {
  .App {
    flex-direction: column;
  }
}
